/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
/* FIM RESET */

body {
    height: 100vh;
    display: flex;
    padding-inline: 0px;
    flex-direction: column;
    background-color: rgb(146, 53, 53);

}
header{
    height: 10vh;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.logo{
    height: 100%;
    width: 20%;
    display: flex;
    background-color: rgb(255, 255, 255);
    background-image: url(./img/logo.png);
    background-repeat: no-repeat no-repeat;
    background-size: 80%;
    background-position: center;
}

.menu ul{
    display: flex;
    gap: 25px;
    font-size: 20px;
    transform: translate(-5vw, 1.8vw); 
    background-color: rgb(255, 255, 255);
}

.search ul{
    font-size: 20px;
    transform: translate(53vw, 1.8vw); 
}


.search button{
    height: 35%;
    width: 180%;
    background-color: black;
    color:white;
    font-size: 18px;
    border-radius: 3vh;
    top:20%;
    right: 0;
    transform: translate(60vw, 0.3vw); 
}

hr {
    border: 0;
    border-top: 2px solid;
}

main{
    flex-grow: 1;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}
.subtitulo{
    width: 100%;
    height: 8%;
    background-image: url(./img/subtitulo.png);
    background-repeat: no-repeat no-repeat;
    background-size: 3%;
    background-position: 65vh;
    margin: 25px;
    background-color: rgb(255, 255, 255);

}
.subtitulo h3{
    width: 15%;
    height: 45%;
    border-radius: 3vh;
    border: 2px solid rgb(211, 205, 205);
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    margin-left: 36%;
}
.subtitulo h4{
    width: 10%;
    height: 45%;
    border-radius: 3vh;
    border: 2px solid rgb(211, 205, 205);
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: -2.7%;
    font-size: 18px;
    margin-left: 52%;
}

.titulo_h1{
    font-size: 11vh;
    margin: 4%;
    margin-top: -2%;
}

.info h4{
    font-size: 18px;
    margin: -9%;
    margin-left: 74%;
}

.titulo button{
    width: 12%;
    background-color: black;
    color:white;
    font-size: 16px;
    border-radius: 3vh;
    transform: translate(74vw, 7vw); 
    margin-top: 4%;
}

#paisagem_g {
    width: 35%;
    height: 50%;
    position: absolute;
    left:33%;
    margin-top: 9%;
}

#paisagem_p{
    width: 20%;
    height: 28%;
    position: absolute;
    left: 74%;
    margin-top: 9%;
}

.texto {
    font-size: 5vh;
    margin: 4%;
    margin-top: 9%;
}

.descricao{
    margin: 4%;
    margin-top: -1%;
}

#pessoas {
    width: 8%;
    margin: 3.5%;
    margin-top: -1%;
    border-right: solid 2px;
    background-color: black;
}

.informacao_h3{
    margin: 13.5%;
    margin-top: -6.3%;
}
